div, header, main, section{
    border: 1px black solid;
}
body{
    margin: 0;
}
.container{
    height: 100vh;
    position: relative;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* height: 10%; */
    max-height: 100px;
    z-index: 1;
}
#highscore,
#timer{
    width: 50%;
    text-align: center;
    font-size: 1.75em;
}
hr{
    width: 100px;
    margin: 5px auto;
}
.quizBox{
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    top: 0px;
}
#question{
    margin: 120px auto;
    max-height: 500px;
    border: 5px purple solid;
    line-height: 1.5em;
    font-size: 1.2em;
}
#answers{
    border: 5px orange solid;    
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.button{
    background: green;
    font-size: 1.5em;
    margin: 5px;
}
